<% provide(:title, 'Contact') %>
<h1>Contact Information</h1>
<p>
  If you have any questions, or need to make any changes to your RSVP, feel free to contact us!
</p>
<ul class = "contactlist">
  <li>69 Greenfield, Irvine, CA, 92614</li>
  <li>Neil's Phone Number: (949)344-1955</li>
  <li>Terra's Phone Number: (949)344-1970</li>
  <li>Email us!</li>
</ul>