<% provide(:title, "Declined") %>
<!doctype html>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 center">
        <h1>Thank you for your response.</h1>
        <p>We're so sorry to hear you can't make it, you will be greatly missed!<br></p>
        <p>Sending all our love,<br>
        Terra and Neil</p>
    </div>
  </div>
</div>

</body>
</html>