<% provide(:title, "Home") %>
<!doctype html>
<body>
<div class="homepage">
    <div class="row">
        <div class="col-lg-3 col-lg-offset-3 col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-1 col-xs-6 center" >
            <div class="prepare">
                <br><br><br><br><br><br><br><br><br><br>
                <h1>Prepare for joy,<br>prepare for life.</h1>
                <p>Nothing sounds better than celebrating<br>our marriage with the people closest to us.</p>
                <p><strong>We hope to see you there!</strong></p>
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-0 col-md-5 col-md-offset-0 col-sm-6 col-sm-offset-1 col-xs-6 center">
            <br><br><h1>WeddingSchedule</h1>
            <h3><br>Thursday</h3>
            <p></p>
            <p>3:00PM -- Terra & Neil check in at the Hotel<br>
            6:30PM -- Ceremony Rehearsal Begins<br>
            7:30PM -- Reheasal Dinner @ Brendan's Irish Pub</p>
            <h3>Friday</h3>
            <p>6:30AM - 9:30AM -- Hotel Breakfast<br>
            10:00AM -- Preparations begin<br>
            11:00AM -- Terra goes to Nail Salon<br>
            2:00PM -- Reception Space opens for decoration<br>
            9:00PM -- Drinks @ Brendan's Irish Pub<br>
            </p>
            <h3>Saturday</h3>
            <p>6:30AM - 9:30AM -- Hotel Breakfast<br>
            4:30PM -- Ceremony begins<br>
            5:00PM -- Cocktail Hour & Pictures<br>
            7:00PM -- Dinner is served<br>
            8:30PM -- Let there be cake!<br>
            11:00PM -- Closing time<br>
            </p>
            <h3>Sunday</h3>
            <p>6:30AM - 9:30AM -- Hotel Breakfast<br>
            8:00AM -- Neil & Terra leave for LAX</p>
        </div>
    </div>
    <!--<div class="row">-->
    <!--    <div class="col-lg-3 col-lg-offset-3 col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-0 col-xs-6 center" >-->
    <!--        <br><br><h1>WeddingSchedule</h1>-->
    <!--        <h3><br>Thursday</h3>-->
    <!--        <p></p>-->
    <!--        <p>3:00PM -- Terra & Neil check in at the Hotel<br>-->
    <!--        6:30PM -- Ceremony Rehearsal Begins<br>-->
    <!--        7:30PM -- Reheasal Dinner @ Brendan's Irish Pub</p>-->
    <!--        <h3>Friday</h3>-->
    <!--        <p>6:30AM - 9:30AM -- Hotel Breakfast<br>-->
    <!--        10:00AM -- Preparations begin<br>-->
    <!--        11:00AM -- Terra goes to Nail Salon<br>-->
    <!--        2:00PM -- Reception Space opens for decoration<br>-->
    <!--        9:00PM -- Drinks @ Brendan's Irish Pub<br>-->
    <!--        </p>-->
    <!--        <h3>Saturday</h3>-->
    <!--        <p>6:30AM - 9:30AM -- Hotel Breakfast<br>-->
    <!--        4:30PM -- Ceremony begins<br>-->
    <!--        5:00PM -- Cocktail Hour & Pictures<br>-->
    <!--        7:00PM -- Dinner is served<br>-->
    <!--        8:30PM -- Let there be cake!<br>-->
    <!--        11:00PM -- Closing time<br>-->
    <!--        </p>-->
    <!--        <h3>Sunday</h3>-->
    <!--        <p>6:30AM - 9:30AM -- Hotel Breakfast<br>-->
    <!--        8:00AM -- Neil & Terra leave for LAX</p>-->
    <!--    </div>-->
    <!--    <div class="col-lg-4 col-lg-offset-0 col-md-offset-0 col-sm-4 col-sm-offset-1 col-xs-6 center">-->
    <!--        <div id="wrapper">-->
    <!--            <#%= image_tag("wedding_invitation_opt2.png", alt: "Wedding Invitation", id: "savethedate") %>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
</div>

<div class="contactinfo">
    <br><br><h4>
      If you have any questions, or need to make any changes to your information, feel free to contact us!
    </h4>
    <div class="row">
        <div class="col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 center">
            <ul>
                <strong>Contact Neil</strong>
                <li>(949)344-1955</li>
                <li>nshapiro91@gmail.com</li>
            </ul>
        </div>
        <div class="visible-xs"><br></div>
        <div class="col-lg-3 col-lg-offset-0 col-md-3 col-sm-3 col-sm-offset-1 center">
            <ul>
                <strong>Contact Terra</strong>
                <li>(949)344-1970</li>
                <li>terrasmiddy@cox.net</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>