<% provide(:title, "Hotel") %>
<!doctype html>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="hoteldetail col-md-6 col-xs-6 col-sm-6 center">
            <h1>Hotel Details</h1>
            <h6>Palm Garden Hotel
            <br>495 Ventu Park Road
            <br>Thousand Oaks, CA</h6>
            <p><strong>We are so excited to get our family and friends together to take over this quaint, 88-room hotel for the weekend!</strong></p>
            <p>This charming, privately-owned hotel will host both our wedding ceremony and reception.
            It offers a very personal and welcoming feel, and also accomodates dogs, so Jax will be joining us!</p>
            <p>The hotel features a pool, putting green, and an attached pub, Brendan's Irish Pub and Restaurant. 
            The food there is amazing, they have a game room, and scheduled nightly entertainment.
            For all other needs, there are fast food restaraunts, convenience stores, and grocery stores all within walking distance!</p>
            <p>The ceremony site features a picturesque white gazebo with flowers we expect to be blooming for this spring wedding!
            The food at the reception is going to be absolutely delicious, and we will have an option for vegetarians.
            There will be a cash bar available during the reception.
            <br><br><strong>If you have any food allergies, make sure to let us know when you RSVP on your invitation.</strong></p>
        </div>
        <div class="reservationinfo col-md-6 col-xs-6 col-sm-6 center">
            <h1>Reservation Info</h1>
            <h6>Reservations can be made at (805)716-4200
            <br>Smiddy-Shapiro Wedding</h6>
            <p><strong>We encourage everyone to book their rooms as soon as possible!</strong></p> 
            <p>Reserve your room now, it is never too early! This will ensure that you get the room of your choice as it is first-come-first-serve for our guests.
            Do not wait until the deadline because you do not want to miss these rates!</p>
            <p><strong>All wedding guests receive rooms for discounted rates!</strong>
            <br>To receive these rates, make sure to tell them you're a part of the Smiddy-Shapiro wedding block!
            All guests are guaranteed a room at the special rate up until March 1st, but not a day after!
            Anyone interested in bringing their dog must request a dog-friendly room!</p>
            <li>Suite - $199</li>
            <li>Junior Suite - $149</li>
            <li>Courtyard View - $129</li>
            <li>Parking Lot View - $109</li>
            <p><br><strong>Please be aware this is an adult-only event, so please make arrangements for your children.</strong></p>
        </div>
    </div>
</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</body>
</html>