<% provide(:title, "Menu") %>
<!doctype html>
<body>
<div class="container-fluid">
    <div class="receptionmenu">
            <h1>Reception Menu</h1>
            <h2>Appetizers</h2>
            <p>Sausage Stuffed Mushrooms<br>
            Bruschetta</p>
            <h2>Salad</h2>
            <p>Mixed Berry Salad</p>
            <h2>Entrees</h2>
            <p>Chicken Marsala<br>
            Braised Short Rib</p>
            <h2>Sides</h2>
            <p>Garlic Mashed Potatoes and Gravy<br>
            Almond Butter Green Beans</p>
            <h2>Beer & Wine</h2>
            <p>Guiness Harp<br>
            Firestone 805<br>
            Firestone DBA<br>
            Ballast Point Sculpin IPA
            <br><br>Liquor also available at the bar</p>
        </div>
    </div>
</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</body>
</html>