<% provide(:title, "Photos") %>
<!doctype html>
<html>
<body>
    
<div class="slider center">

    <div class="slide active-slide">
        <div class="container-fluid">
            <div class="row">
                <%= image_tag("handheld.jpg", :alt => "Holding Hands") %>
            </div>
        </div>
    </div>
    
    <div class="slide">
        <div class="container-fluid">
            <div class="row">
                <%= image_tag("stdjax.jpg", :alt => "Save the Date Image") %>
            </div>
        </div>
    </div>
    
    <div class="slide">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <%= image_tag("doorjax.jpg", :alt => "The Door with Jax") %>
                </div>
            </div>
        </div>
    </div>
    
    <div class="slide">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <%= image_tag("door.jpg", :alt => "The Door") %>
                </div>
            </div>
        </div>
    </div>
    
    <div class="slide">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <%= image_tag("beachoverlook.jpg", :alt => "Overlooking the Beach") %>
                </div>
            </div>
        </div>
    </div>
    
    <div class="slide">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <%= image_tag("bwbeachoverlook.jpg", :alt => "B&W Overlooking the Beach") %>
                </div>
            </div>
        </div>
    </div>
    
    <div class="slide">
        <div class="container-fluid">
            <div class="row">
                <div class="slide-copy col-md-12">
                    <%= image_tag("wyland.jpg", :alt => "Wyland Gallery") %>
                </div>
            </div>
        </div>
    </div>

    <div class="slide">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <%= image_tag("wylandjax.jpg", :alt => "Wyland Gallery with Jax") %>
                </div>

            </div>
        </div>
    </div>
    
    <div class="slide">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <%= image_tag("sunset.jpg", :alt => "Sunset") %>
                </div>
            </div>
        </div>
    </div>
    
    <div class="slide">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <%= image_tag("dipping.jpg", :alt => "Dancing") %>
                </div>
            </div>
        </div>
    </div>
    
    

</div>

<div class="slider-nav navbar-fixed-bottom navbar-default">
    <%= link_to image_tag("arrow-prev.png", :alt => "Go Back", :class => 'arrow-prev'), '#' %>
    <ul class="slider-dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
    </ul>
    <%= link_to image_tag("arrow-next.png", :alt => "Go Forward", :class => 'arrow-next'), '#' %>
    <div class="darrenlogo center">
        <%= link_to image_tag("darrenlogo.jpg", :alt => "Photographer Website"), 'https://darrenwellhoefer.smugmug.com/', :target => "_blank" %>
    </div>
</div>


    

</body>
</html>