<% provide(:title, "Registries") %>
<!doctype html>
<html>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="registryintro col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p><strong>All gifts can be sent to our home address in Irvine or brought to the reception.<br>Thank you so much, from the bottom of our hearts!</strong></p>
        </div>
    </div>
    <div class="honeyfund center">
        <div class="row">
            <div class="registryimg">
                <%= link_to image_tag("honeyfund.jpg", alt: "Honey Fund"), "https://www.honeyfund.com/wedding/ShapiroWedding2017", id:"honeyfundimg", :target => "_blank" %>
            </div>
        </div>
        <div class="row">
            <h1><%= link_to "Honeyfund", "https://www.honeyfund.com/wedding/ShapiroWedding2017", id: "registrytxt", :target => "_blank" %></h1>
            <div class="registrytxt col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12">
                <p>Because we already have so much for our apartment, we would really love our guests to contribute towards our honeymoon as their gift of love to us. 
                Honeyfund does require a small processing fee for each donation made through their website, so we encourage anyone who wishes to participate to do so with a personal check to avoid this fee.
                If your gift is intended for our honeymoon fund, just note which activity you wish to gift to us!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="alternativeregistries col-sm-8 col-sm-offset-2">
            <p><br>For those who prefer a more traditional approach, there are two alternative registries below that include items we would love to have in our home!
            We know that our guests can come up with some unique and thoughtful ideas for gifts that will make married life for us that much sweeter. Please feel free to deviate from these lists if you find something that you think fits us!</p>
            <br>
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <div class="amazon center">
                        <div class="registryimg">
                            <%= link_to image_tag("amazonicon.png", alt: "Amazon", height: 200), "https://www.amazon.com/wedding/share/shapirowedding2017", id:"amazoniconimg", :target => "_blank" %>
                        </div>
                        <div class="registrytxt">
                            <h1><%= link_to "Amazon", "https://www.amazon.com/wedding/share/shapirowedding2017", id: "registrytxt", :target => "_blank" %></h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="macys center">
                        <div class="registryimg">
                            <%= link_to image_tag("macysicon.png", alt: "Macy's", height: 200), "https://www.macys.com/wgl/registry/guest/6652715", id:"macysiconimg", :target => "_blank" %>
                        </div>
                        <div class="registrytxt">
                            <h1><%= link_to "Macy's", "https://www.macys.com/wgl/registry/guest/6652715", id: "registrytxt", :target => "_blank" %></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
    
    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</body>
</html>
