<% provide(:title, 'Register') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
            <h1>Sorry!</h1>
            <p>The registration period has closed. 
            <br>If you were not able to register in time, please contact us.</p>
        </div>
    </div>
</div>    
<br>