<% provide(:title, "Schedule") %>
<!doctype html>
<body>

<div class="container-fluid">
  <div class = "row">
    <div class = "message col-lg-8 col-lg-offset-2">
      <p>We would love for you to join us for any of the events listed below, but please do not feel obligated to help with any of the setup. We appreciate your patience with us as we add all of our final touches for the big day!</p>
      <!--<p>We would love to spend as much time as possible with all of you as we prepare for our big day, but please do not feel obligated to participate in any of the setup. <br> We appreciate your patience with us as we add all of our final touches for the big day!</p>-->
    </div>
  </div>
  <div class="row">
    <div class="ourplans col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 center">
        <h1>Thursday the 23rd</h1>
        <p></p>
        <p>3:00PM -- Terra & Neil check in at the Hotel<br>
        6:30PM -- Ceremony Rehearsal Begins<br>
        7:30PM -- Reheasal Dinner @ Brendan's Irish Pub</p>
        <!--<p><strong>The Rehearsal is for family and the bridal party, but everyone is invited to the catered Rehearsal Dinner!</strong></p>-->
        <h1>Friday the 24th</h1>
        <p>6:30AM - 9:30AM -- Hotel Breakfast<br>
        10:00AM -- Preparations begin<br>
        11:00AM -- Terra goes to Nail Salon<br>
        2:00PM -- Reception Space opens for decoration<br>
        9:00PM -- Drinks @ Brendan's Irish Pub<br>
        </p>
        <!--<p><strong>Everyone is invited to join us for drinks!</strong></p>-->
        <h1>Saturday the 25th</h1>
        <p>6:30AM - 9:30AM -- Hotel Breakfast<br>
        4:30PM -- Ceremony begins<br>
        5:00PM -- Cocktail Hour & Pictures<br>
        7:00PM -- Dinner is served<br>
        8:30PM -- Let there be cake!<br>
        11:00PM -- Closing time<br>
        </p>
        <h1>Sunday the 26th</h1>
        <p>6:30AM - 9:30AM -- Hotel Breakfast<br>
        8:00AM -- Neil & Terra leave for LAX</p>
    </div>
  </div>
</div>

</body>
</html>