<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %>, here is your personal invitation to the Shapiro Wedding.<br>
    The period to RSVP closes on March 1st, so <a href="http://www.shapirowedding.com/guests/<%= @user.id %>/invitation">submit your RSVP today!</a></p><br>
    <%= link_to image_tag("https://shapirowedding.com/assets/wedding_invitation_opt1-e058813099c936a4710eb7bd4c4b6677c88f10fdd3bf5eda4874ef7c6cbfab55.png", alt: "Wedding Invitation", id: "savethedate", height: '675px'), invitation_user_url(@user) %><br><br>
    <br>
    If the above link does not work, your invitation can be found at:<br>
    http://www.shapirowedding.com/guests/<%= @user.id %>/invitation
  </body>
</html>