Hi <%= @user.name %>
<% if @user.invitationoptout? %>
  Thank you for registering! You have indicated that you will not be able to attend, so you will not be receiving a formal invitation.
  We're sad to hear that you won't be able to make it, but we really appreciate you letting us know early.
<% else %>
  Thank you for registering to receive an invitation to our wedding. This is not your RSVP! Invitations will be delivered in January of 2017, so keep an eye out.
  This is an adult only event, please make arrangements for any young children.
  You can book your hotel reservations with the Palm Garden Hotel at any time. The sooner you book, the better. The deadline to book is March 1st!
  Reservations can be made at (805)716-4200, and make sure to book under the Smiddy-Shapiro wedding block for a discounted rate!
<% end %>
      
With love,
Terra and Neil
69 Greenfield
Irvine, CA, 92614