<%= @user.name %> has registered for their invitation.

Registered email: <%= @user.email %>
Their note:
<%= @user.registernote %>
<% if @user.invitationoptout? %>
  They do not want an invitation.
<% else %>
  They want an invitation.
<% end %>