<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %> has been added to the invitation list and their invitation has been sent to <%= @user.email %> </p>
    <p>
      They were given <%= @user.numguests %> guests.
    </p>
  </body>
</html>