<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %></p>
    <% if @user.invitationoptout? %>
      <p>Thank you for registering! You have indicated that you will not be able to attend, so you will not be receiving a formal invitation.
      <br>We're sad to hear that you won't be able to make it, but we really appreciate you letting us know early.</p>
    <% else %>
      <p>Thank you for registering to receive an invitation to our wedding. This is not your RSVP! Invitations will be delivered in January of 2017, so keep an eye out.
      <strong>This is an adult only event, please make arrangements for any young children.</strong>
      You can book your hotel reservations with the Palm Garden Hotel at any time. The sooner you book, the better. <strong>The deadline to book is March 1st!</strong>
      Reservations can be made at (805)716-4200, and make sure to book under the Smiddy-Shapiro wedding block for a discounted rate!</p>
    <% end %>
    <p>
      With love,<br>
      Terra and Neil<br>
      69 Greenfield<br>
      Irvine, CA, 92614<br>
    </p>
  </body>
</html>