Hello <%= @user.name %>!
<% if @user.rsvp == true %>

<% if @user.guestfive?%>Thank you for submitting your RSVP! We are reserving 5 seats for your party<% elsif @user.guestfour? %>Thank you for submitting your RSVP! We are reserving 4 seats for your party<% elsif @user.guestthree? %>Thank you for submitting your RSVP! We are reserving 3 seats for your party<% elsif @user.guesttwo? %>Thank you for submitting your RSVP! We are reserving 2 seats for your party<% elsif @user.guestone? %>Thank you for submitting your RSVP! We are reserving 1 seat for your party<% end %> <% if @user.veg == 1 %>and will provide <%= @user.veg %> vegetarian plate.<% else %>and will provide <%= @user.veg %> vegetarian plates.<% end %>
  
<% if @user.allergies? %>
You have indicated someone in your party has an allergy and we will try to accomodate this as much as possible.
Please verify the following allergy information is correct:
  <%= @user.allergies %>
<% end %>


Name cards will be printed for the following guests exactly as written below:
  1: <%= @user.guestone %>
  <% if @user.guestfive? %>
  2: <%= @user.guesttwo %>
  3: <%= @user.guestthree %>
  4: <%= @user.guestfour %>
  5: <%= @user.guestfive %>
  <% elsif @user.guestfour? %>
  2: <%= @user.guesttwo %>
  3: <%= @user.guestthree %>
  4: <%= @user.guestfour %>
  <% elsif @user.guestthree? %>
  2: <%= @user.guesttwo %>
  3: <%= @user.guestthree %>
  <% elsif @user.guesttwo? %>
  2: <%= @user.guesttwo %>
  <% end %>
  
Remember that this is an adult only event, please make arrangements for any young children.
You can book your hotel reservations with the Palm Garden Hotel at any time. The sooner you book, the better. The deadline to book is March 1st!
Reservations can be made at (805)716-4200, and make sure to book under the Smiddy-Shapiro wedding block for a discounted rate!

If there are any issues with your RSVP, please let us know immediately.

<% else %>
Thank you for submitting your RSVP. You have indicated that you will not be able to attend.
We're sad to hear that you won't be able to make it, but we really appreciate you letting us know.
We hope to hear from you soon!

<% end %>
With love,
Terra and Neil
69 Greenfield
Irvine, CA, 92614