<%= @user.name %> has submitted their RSVP.
Registered email: <%= @user.email %>
    
<% if @user.rsvp == false %>
  They are not able to attend
<% else %>
  
<% if @user.guestfive?%>
5 Guests:
<% elsif @user.guestfour? %>
4 Guests:
<% elsif @user.guestthree? %>
3 Guests:
<% elsif @user.guesttwo? %>
2 Guests:
<% elsif @user.guestone? %>
1 Guest:
<% end %>
  1: <%= @user.guestone %>
<% if @user.guestfive? %>
  2: <%= @user.guesttwo %>
  3: <%= @user.guestthree %>
  4: <%= @user.guestfour %>
  5: <%= @user.guestfive %>
<% elsif @user.guestfour? %>
  2: <%= @user.guesttwo %>
  3: <%= @user.guestthree %>
  4: <%= @user.guestfour %>
<% elsif @user.guestthree? %>
  2: <%= @user.guesttwo %>
  3: <%= @user.guestthree %>
<% elsif @user.guesttwo? %>
  2: <%= @user.guesttwo %>
<% end %>

Vegetarian Plates: <%= @user.veg %>
Food Allergies: <%= @user.allergies %>
Suggested Songs: <%= @user.suggestedsong %>

<% end %>