<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %> has submitted their RSVP.<br>
    Registered email: <%= @user.email %><br></p>
    
    <% if @user.rsvp == false %>
      <p>They are not able to attend</p>
    <% else %>
      <p>
        <% if @user.guestfive?%>
          5 Guests:<br>
        <% elsif @user.guestfour? %>
          4 Guests:<br>
        <% elsif @user.guestthree? %>
          3 Guests:<br>
        <% elsif @user.guesttwo? %>
          2 Guests:<br>
        <% elsif @user.guestone? %>
          1 Guest:<br>
        <% end %>

          1: <%= @user.guestone %><br>
        <% if @user.guestfive? %>
          2: <%= @user.guesttwo %><br>
          3: <%= @user.guestthree %><br>
          4: <%= @user.guestfour %><br>
          5: <%= @user.guestfive %><br>
        <% elsif @user.guestfour? %>
          2: <%= @user.guesttwo %><br>
          3: <%= @user.guestthree %><br>
          4: <%= @user.guestfour %><br>
        <% elsif @user.guestthree? %>
          2: <%= @user.guesttwo %><br>
          3: <%= @user.guestthree %><br>
        <% elsif @user.guesttwo? %>
          2: <%= @user.guesttwo %><br>
        <% end %><br>
      
        Vegetarian Plates: <%= @user.veg %><br>
        Food Allergies: <%= @user.allergies %><br>
        Suggested Songs: <%= @user.suggestedsong %>
      </p>
    <% end %>
  </body>
</html>