<%= @user.name %> has updated their registration info.

Registered email: <%= @user.email %> 
Their note:
 <%= @user.registernote %>
<% if @user.invitationoptout? %>
   They do not want an invitation. 
<% else %>
   They want an invitation. 
<% end %>