Hi <%= @user.name %>

This email serves as an alert that your wedding registeration information has been updated. If you recently updated your info, then you can ignore this email. 
If any of the information below looks incorrect, please contact us as soon as possbile!

Registered email: <%= @user.email %> 
Your note to us:
 <%= @user.registernote %>
<% if @user.invitationoptout? %>
   You have opted to not receive a wedding invitation email. 
<% else %>
   Keep an eye out for your wedding invitation email coming in January! 
<% end %>

With love, 
Terra and Neil