<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %></p>
    <p>
      This email serves as an alert that your wedding registration information has been updated. If you recently updated your info, then you can ignore this email.<br>
      If any of the information below looks incorrect, please contact us as soon as possbile!
    </p>
    <p>
      Registered email: <%= @user.email %><br>
      Your note to us:
      <br><%= @user.registernote %>
      <% if @user.invitationoptout? %>
        <p>You have indicated that you will not be able to attend, and will not receive a wedding invitation email.
        <br>We're sorry to hear that you won't be able to make it, but we appreciate you letting us know.</p>
      <% else %>
        <p>Keep an eye out for your wedding invitation email coming in January!</p>
      <% end %>
      With love,<br>
      Terra and Neil
    </p>
    
  </body>
</html>