<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %> has updated their registration info.</p>
    <p>
      Registered email: <%= @user.email %><br>
      Their note:
      <br><%= @user.registernote %>
      <% if @user.invitationoptout? %>
        <p>They do not want an invitation.</p>
      <% else %>
        <p>They want an invitation.</p>
      <% end %>
    </p>
    
  </body>
</html>