<%= form_for(user) do |f| %>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <%= form_for(@user, url: register_path) do |f| %>
          <%= render 'shared/error_messages' %>
          <h1><%= f.object.name %>,</h1>
          <p><strong>please fill out the name of each guest who will be attending.<br>Names will be printed exactly as written.</strong></p>

          <%= f.label "Guests" %>
          <% if @user.guestone? %>
            <%= f.text_field :guestone, class: 'form-control' %>
          <% elsif %>
            <%= f.text_field :guestone, class: 'form-control', value: f.object.name %>
          <% end %>
          <% if f.object.numguests == 2 %>
            <%= f.text_field :guesttwo, class: 'form-control' %>
          <% elsif f.object.numguests == 3 %>
            <%= f.text_field :guesttwo, class: 'form-control' %>
            <%= f.text_field :guestthree, class: 'form-control' %>
          <% elsif f.object.numguests == 4 %>
            <%= f.text_field :guesttwo, class: 'form-control' %>
            <%= f.text_field :guestthree, class: 'form-control' %>
            <%= f.text_field :guestfour, class: 'form-control' %>
          <% elsif f.object.numguests == 5 %>
            <%= f.text_field :guesttwo, class: 'form-control' %>
            <%= f.text_field :guestthree, class: 'form-control' %>
            <%= f.text_field :guestfour, class: 'form-control' %>
            <%= f.text_field :guestfive, class: 'form-control' %>
          <% else %>
          <% end %>
  
          <%= f.label "How many members of your party will need a vegetarian option?" %>
          <% if @user.veg? %>
            <%= f.number_field :veg, class: 'form-control', in: 0...6 %>
          <% else %>
            <%= f.number_field :veg, class: 'form-control', value: 0, in: 0...6 %>
          <% end %>
          
          <%= f.label "Please list any food allergies for your party" %>
          <%= f.text_field :allergies, class: 'form-control' %>          
          
          <%= f.label "Please list any songs you would like to hear at our wedding:" %>
          <%= f.text_area :suggestedsong, class: 'form-control' %>        
          
          <%= f.hidden_field :test, class: 'form-control', value: true %>
          <!--<input type="hidden" name="test" value="true"/>-->
          
          <br>
          <br>
          <%= f.submit "Submit my RSVP!", class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>