<%= form_for(user) do |f| %>
<!--, url: update_registerform_user_path(@user)-->
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
          <%= form_for(@user, url: register_path) do |f| %>
            <%= render 'shared/error_messages' %>
            <h3>Registration for </h3>
            <h1><%= f.object.name %></h1>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
      
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
            
            <%= f.label "Number of guests" %>
            <% if @user.numguests? %>
              <%= f.number_field :numguests, class: 'form-control', in: 0...6 %>
            <% else %>
              <%= f.number_field :numguests, class: 'form-control', value: 1, in: 0...6 %>
            <% end %>
            
            <br>
            <br>
            
            <%= f.submit "Register for my invitation!", class: "btn btn-primary btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  

<% end %>