<p id="notice"><%= notice %></p>
<% provide(:title, "Guest List") %>
<h1>Wedding Guests</h1>

<table class="table-striped" width="1600px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>RSVP</th>
      <th>Guest Count</th>
      <th>Guest One</th>
      <th>Guest Two</th>
      <th>Guest Three</th>
      <th>Guest Four</th>
      <th>Guest Five</th>
      <th>Vegetarians</th>
      <th>Allergies</th>
      <th>Songs</th>
      <!--<th colspan="3"></th>-->
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td width="150px"><%= user.name %></td>
        <td><%= user.email %></td>
        <td width="110px">
          <% if user.rsvp.nil? %>
            No Response
          <% else %>
            <% if user.rsvp == true %>
              Attending
            <% else %>
              Not Attending
            <% end %>
          <% end %>
        </td>
        <td><%= user.numguests %></td>
        <td><%= user.guestone %></td>
        <td><%= user.guesttwo %></td>
        <td><%= user.guestthree %></td>
        <td><%= user.guestfour %></td>
        <td><%= user.guestfive %></td>
        <td><%= user.veg %></td>
        <td><%= user.allergies %></td>
        <td><%= user.suggestedsong %></td>
        <!--<td>#%= link_to 'Invitation', invitation_user_path(user), class: "btn btn-default btn-xs" %></td>-->
        <td><%= link_to 'Register', edit_registerform_user_path(user), class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'RSVP', edit_user_path(user), class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Invite Guest', send_invitation_email_user_path(user), class: "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<%= link_to 'Add Guest', new_user_path, class: "btn btn-default btn-sm" %>
<%= link_to 'Invite Guests', inviteall_path, class: "btn btn-default btn-sm" %>