<p id="notice"><%= notice %></p>
<% provide(:title, "Registered Guests") %>
<h1>Registered Guests</h1>


  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Requested Invitation</th>
      </tr>
    </thead>
    
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td>
            <% if user.invitationoptout? %>
              No
            <% else %>
              Yes
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<!--<%#= link_to 'New User', new_user_path %>-->
