<% provide(:title, "Invitation") %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
            <h1>Sorry!</h1>
            <p>The RSVP period has closed. 
            <br>If you were not able to RSVP in time, please contact us immediately.</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 center">
            <ul>
                <strong>Contact Neil</strong>
                <li>(949)344-1955</li>
                <li>nshapiro91@gmail.com</li>
            </ul>
        </div>
        <div class="visible-xs"><br></div>
        <div class="col-lg-3 col-lg-offset-0 col-md-3 col-sm-3 col-sm-offset-1 center">
            <ul>
                <strong>Contact Terra</strong>
                <li>(949)344-1970</li>
                <li>terrasmiddy@cox.net</li>
            </ul>
        </div>
    </div>
</div>    
<br>