<% provide(:title, @user.name) %>
<!doctype html>

<!--#<p id="notice"><%#= notice %></p>-->

<div class="container-fluid">
  <div class="row">
    <div class="center col-sm-8 col-sm-offset-2">
      <h1><%= @user.name %>,</h1>
      <p><strong>thank you for submitting your RSVP.<br>
      
      <br>We are so glad to hear you will be joining us on March 25th!</strong><br>
      <% if @user.guestfive?%>
        You have submitted a RSVP for 5 guests<br>
      <% elsif @user.guestfour? %>
        You have submitted a RSVP for 4 guests<br>
      <% elsif @user.guestthree? %>
        You have submitted a RSVP for 3 guests<br>
      <% elsif @user.guesttwo? %>
        You have submitted a RSVP for 2 guests<br>
      <% elsif @user.guestone? %>
        You have submitted a RSVP for 1 guest<br>
      <% end %>

      
      1: <%= @user.guestone %><br>
      <% if @user.guestfive? %>
        2: <%= @user.guesttwo %><br>
        3: <%= @user.guestthree %><br>
        4: <%= @user.guestfour %><br>
        5: <%= @user.guestfive %><br>
      <% elsif @user.guestfour? %>
        2: <%= @user.guesttwo %><br>
        3: <%= @user.guestthree %><br>
        4: <%= @user.guestfour %><br>
      <% elsif @user.guestthree? %>
        2: <%= @user.guesttwo %><br>
        3: <%= @user.guestthree %><br>
      <% elsif @user.guesttwo? %>
        2: <%= @user.guesttwo %><br>
      <% end %>
      </p>
      
      <p>
        <% if @user.veg == 1 && @user.allergies?%>
          You will receive <%= @user.veg %> vegetarian plate
        <% elsif @user.veg == 0 %>
          You will not require any vegetarian plates
        <% else %>
          You will receive <%= @user.veg %> vegetarian plates
        <% end %>
      
        <% if @user.allergies? %>
          and have indicated someone in your party has an allergy. Thank you for letting us know!<br>
          Please ensure that the allergy information below is correct:<br><br>
          <%= @user.allergies %><br>
        <% else %>
            .<br>
        <% end %>
      
      <!--<%# if @user.suggestedsong? %>-->
      <!--  <p>-->
      <!--    <strong>Thank you so much for suggesting a song.</strong><br>-->
      <!--    Please review your suggestion below to ensure it is correct:<br><br>-->
      <!--    <%#= @user.suggestedsong %>-->
      <!--  </p><br>-->
      <!--<%# end %>-->
      
      <p>This is an adult only event, so please leave all small children at home.<br>
      There will be a partially hosted bar, which will serve free drinks to start the night.<br><br>
      <strong>Make sure to book your rooms by March 1st in order to receive the wedding block discount.</strong><br>
      Please browse our website for more information, and periodically check the <%= link_to "Schedule", schedule_path %> page as further updates are posted.</p>
      <h3>We can't wait to see you there!</h3>
      
      


    </div>
  </div>
  <div class="center">
    <br>
    <%= link_to 'Wait, I need to edit my RSVP!', edit_user_path(@user), class:"btn btn-primary col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12", style: "color:white" %>
  </div>
</div>