<% if @user.errors.any? %>
  <div id="error_explanation center">
    <div class="alert alert-danger center">
      Your RSVP contains <%= pluralize(@user.errors.count, "error") %>.
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    
  </div>
<% end %>