@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Raleway|Rouge+Script';

// @font-face {
//   font-family: "Rouge Script";
//   src: url('RougeScript-Regular.ttf') format("truetype");
// }

// @font-face {
//   font-family: "Raleway";
//   src: url('Raleway-Regular.ttf') format("truetype");
// }

.link:visited {
  color: white;
}

body {
  padding-top: 60px;
  font-family: 'Raleway', sans-serif;
}

section {
  overflow:auto;
}

textarea {
  resize: vertical;
}

.container {
  width: 960px;
}


.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.right {
  text-align: right;
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
}

h1 {
  // == NEIL'S FAVORITE ==
  font-family: 'Rouge Script', cursive;

  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  // margin-top: 33x;
  // font-family: 'Satisfy';
}

h3 {
  // == NEIL'S FAVORITE ==
  font-family: 'Rouge Script', cursive;

  font-size: 3em;
  letter-spacing: -2px;
  line-height: .6;
  margin-top: 5px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
  letter-spacing: -1px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: normal;
}

h6 {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px;
  font-weight: bold;
}

p {
  text-align: center;
}

.btn-primary {
  color: #ffffff; 
  background-color: teal;
  border-color: teal;
}

.btn-primary:hover {
  background-color: teal;
  border-color: teal;
  font-weight: bold;
}
.btn-primary:active:focus {
  background-color: teal;
  border-color: teal;
}

#weddinginvbutton {
  width: 200px;
  background-color: teal;
  // color: black;
}

ourplans {
  margin-top: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  // margin: 0px;
  // padding: 0px;
  text-align: center;
  list-style: none;
}

/* header */

header {
  #homelogo {
    float: left;
    margin-right: 10px;
    padding-top: 9px;
    &:hover {
      background-color: transparent;
      }
  }
  li {
    padding: 10px;
    margin-top: 10px;
  }
  .dropdown-menu {
    li {
      float: right;
      padding: 0px;
      margin-top: 5px;
      color: #898989;
      &:hover {
        background: none;
      }
    }
  }
}
  
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  // @include .box_sizing;
}

textarea.form-control{
  min-height: 100px;
}

input {
  height: auto !important;
  // width: auto !important;
}

.optout {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.optouttxt {
  p {
    font-size: .9em;
    line-height: .9em;
    text-align: left;
    margin: 0px;
    padding: 0px;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  width: 100%;
  .form-control {
    color: $state-danger-text;
  }
}

/* Show */

.username {
  margin-bottom:20px;
  margin-top:0px;
}

/* Home Page */

.homepage {
  h1 {
    // margin-top: 200px;
  }
  h2 {
    font-weight: bold;
  }
  .prepare {
    min-width: 300px;
  }
  #savethedate {
    height: 650px;
    &:hover{
      background-color: transparent;
    }
  }
}

/* Hotel */
.palmgarden {
  h1 {
    margin-bottom: 0px;
  }
  h2 {
    // margin-top: 0px;
    // font-size: 20px;
  }
  p {
    margin: 0px;
  }
  ul {
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  li {
    margin: 0px;
  }
}

// #wrapper .text {
// position:relative;
// top: -250px;
// bottom: 0px;
// left: 0px;
// visibility:hidden;
// }

#wrapper:hover .text {
visibility:visible;
}

/* Registries */
.honeyfund {
  margin-top: 10px;
}

.registryimg {
  img {
   max-width:80vw; 
  }
}

.registrytxt {
  color: black;
  &:hover {
        // font-weight:bold;
        // color: black;
        // background-color: transparent;
        }
}

.registryimg {
  &:hover {
        background-color: transparent;
        }
}

.amazon {
  #amazoniconimg {
    &:hover {
        background-color: transparent;
        }
  }
}

.macys {
  
}

/* Photos */

/* Image Carousel */

label.description {
  width: 30%;
  float: left;
}

input[type="checkbox"] {
  max-width: 10%;
  float: right;
}

.slider {
  position: relative;
  width: 100%;
}

img {
    // max-height: 50vh;
    max-width: 50vw;
  }

.slide {
  background-size: cover;
  display: none;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    max-height: 77vh;
    max-width: 90vw;
    // max-height: 745px;
    // max-width: 1400px;
  }
}

.active-slide {
  display: block;
  img.center {
    max-height: 80vh;
    max-width: 95vw;
    // max-height: 745px;
    // max-width: 1400px;
  }
}

/* Slide feature */

.slider-nav {
  text-align: center;
  border-top: 1px solid #ddd;
  // padding-top: 20px;
}

.arrow-prev {
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  &:hover {
        background: none;
      }
}

.arrow-next {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  &:hover {
        background: none;
      }
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 12px;
  li {
    color: #bbbcbc;
    display: inline;
    font-size: 30px;
    margin-right: 5px;
    // margin-top: 20px;
    // margin-bottom: 50px;
  }
  li.active-dot {
    color: #363636;
  }
}

.darrenlogo {
  margin-top: 10px;
}