  <header>
      <!--<nav class = "navbar navbar-default navbar-fixed-top">-->
      <!--  <div class = "container-fluid">-->
      <!--    <div class = "navbar-header">-->
      <!--      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">-->
      <!--        <span class="icon-bar"></span>-->
      <!--        <span class="icon-bar"></span>-->
      <!--        <span class="icon-bar"></span>-->
      <!--      </button>-->
      <!--      <%#= link_to image_tag("shapirowedding.PNG", alt: "Shapiro Wedding"), root_path, id: "homelogo" %>-->
      <!--    </div>-->
      <!--    <div class="collapse navbar-collapse" id="myNavbar">-->
      <!--      <ul class = "nav navbar-nav navbar-right">-->
      <!--        <li> <#%= link_to "Home", root_path %></li>-->
      <!--        <li> <#%= link_to "Register", register_path %></li>-->
      <!--        <li> <#%= link_to "Photos", photos_path %></li>-->
      <!--        <li> <#%= link_to "Registries", registries_path %></li>-->
      <!--        <li> <#%= link_to "Information", info_path %></li>-->
      <!--      </ul>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</nav>-->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to image_tag("shapirowedding.PNG", alt: "Shapiro Wedding"), root_path, id: "homelogo" %>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to "Home", root_path %></li>
            <!--<li> <#%= link_to "Register", register_path %></li>-->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Info
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li> <%= link_to "Photos", photos_path %></li>
                <li> <%= link_to "Registries", registries_path %></li>
                <li> <%= link_to "Hotel", info_path %></li>
                <li> <%= link_to "Schedule", schedule_path %></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
  </header>
  
  