<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Shapiro Wedding</title>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%#= javascript_include_tag "/javascripts/jquery-3.1.0.min.js", "/javascripts/app.js", "application", 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "/javascripts/jquery-3.1.0.min.js", "/javascripts/bootstrap.min.js", "/javascripts/app.js", 'data-turbolinks-track': 'reload' %>
    
    <%= render 'layouts/shim' %>
    
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    
    <div class = "container-fluid">
      <div class = "flashmsg center">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
      </div>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
